* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* font - family */
/* stem font family */
@font-face {
  font-family: Stem-Light;
  src: url("../font_family/Stem-Light.otf");
}

@font-face {
  font-family: Stem-Medium;
  src: url("../font_family/Stem-Medium.otf");
}

@font-face {
  font-family: Stem-Bold;
  src: url("../font_family/Stem-Bold.otf");
}

@font-face {
  font-family: Stem-Regular;
  src: url("../font_family/Stem-Regular.otf");
}

/* rubik  font-family */
@font-face {
  font-family: Rubik-Medium;
  src: url("../font_family/rubiik/Rubik-Medium.ttf");
}

.h1_85_medium {
  font-family: Stem-Medium;
  font-size: 85px;
  line-height: 100px;
}

@media (max-width: 767px) {
  .h1_85_medium {
    font-size: 55px;
    line-height: 60px;
  }
}

.h2_65_medium {
  font-family: Stem-Medium;
  font-size: 65px;
  line-height: 60px;
  letter-spacing: 1px;
}

@media (max-width: 1420px) {
  .h2_65_medium {
    font-size: 41px;
    line-height: 30px;
  }
}

.h2_55_light {
  font-family: Stem-Light;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .h2_55_light {
    font-size: 35px;
    line-height: 45px;
  }
}

.h2_43_light {
  font-family: Stem-Light;
  font-size: 43px;
  line-height: 60px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .h2_43_light {
    font-size: 24px;
    line-height: 30px;
  }
}

.h2_36_regular {
  font-family: Stem-Regular;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .h2_36_regular {
    font-size: 24px;
    line-height: 32px;
  }
}

.h2_25_medium {
  font-family: Stem-Medium;
  font-size: 25px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

@media (max-width: 767px) {
  .h2_25_medium {
    font-size: 22px;
    line-height: 40px;
  }
}

.h2_24_light {
  font-family: Stem-Light;
  font-size: 24px;
  line-height: 34px;
}

@media (max-width: 767px) {
  .h2_24_light {
    font-size: 21px;
    line-height: 25px;
  }
}

.h2_22_bold {
  font-family: Stem-Bold;
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .h2_22_bold {
    font-size: 18px;
    line-height: 25px;
  }
}

.p_16_light {
  font-family: Stem-Light;
  font-size: 16px;
  line-height: 19px;
}

.p_13_medium {
  font-family: Stem-Medium;
  font-size: 13px;
  line-height: 22px;
}

.padding {
  padding: 17px 100px 17px 100px;
  background-color: #FF9B25;
  -webkit-box-shadow: 0px 0px 12px rgba(255, 155, 37, 0.3);
          box-shadow: 0px 0px 12px rgba(255, 155, 37, 0.3);
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 69px;
  margin-bottom: 84px;
}

@media (max-width: 900px) {
  .padding {
    padding: 17px 45px 17px 46px;
    margin: 19px 0;
  }
}

.paregraph {
  max-width: 542px;
  margin: auto;
  padding: 21px 26px;
  border: 0.75px solid #F2994A;
  -webkit-box-shadow: 0px 2px 20px rgba(255, 155, 37, 0.2);
          box-shadow: 0px 2px 20px rgba(255, 155, 37, 0.2);
  border-radius: 10px;
}

.bg-color {
  background-color: #ffffff;
}

.fact {
  display: inline-block;
}

.fact_margin {
  background-color: #FF9B25;
  padding: 1px 27px;
  border-radius: 5px 5px 0 0;
}

.text_color {
  color: black;
  font-family: Stem-Bold;
}

.slat {
  color: #576D8F;
}

.yellow {
  color: #FF9B25;
}

.gray_3 {
  color: #ECE8DE;
}

.coffy {
  color: #626262;
}

.white {
  color: #ffffff;
}

.text-align {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (max-width: 1123px) {
  .text-right {
    display: unset;
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.the_new_school_text {
  text-align: center;
  text-transform: capitalize;
}

#line-height_27 {
  line-height: 27px;
}

#line-height_60 {
  line-height: 60px;
}

.skreen {
  background-color: #E5E5E5;
}

.skreen .skreen_container {
  max-width: 1428px;
  margin: auto;
}

.skreen .skreen_container .skreen_h1 {
  color: #495568;
  text-align: center;
  padding-top: 79px;
}

@media (max-width: 767px) {
  .skreen .skreen_container .skreen_h1 {
    padding: 0;
  }
}

.skreen .skreen_container .skreen_h2 {
  color: #90BAC9;
  text-align: center;
  text-transform: uppercase;
  padding-top: 88px;
  padding-bottom: 31px;
}

@media (max-width: 1123px) {
  .skreen .skreen_container .skreen_h2 {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .skreen .skreen_container .skreen_h2 {
    padding: 14px 0;
  }
}

.skreen .skreen_container .skreen_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.skreen .skreen_container .skreen_image .div_1 img {
  width: 100%;
}

.skreen .skreen_container .skreen_image .div_2 {
  position: absolute;
  bottom: 28px;
  right: 20%;
  text-align: center;
}

@media (max-width: 1123px) {
  .skreen .skreen_container .skreen_image .div_2 {
    right: 15%;
  }
}

@media (max-width: 900px) {
  .skreen .skreen_container .skreen_image .div_2 {
    right: 9%;
  }
}

@media (max-width: 767px) {
  .skreen .skreen_container .skreen_image .div_2 {
    right: 2%;
  }
}

@media (max-width: 610px) {
  .skreen .skreen_container .skreen_image .div_2 {
    right: 0px;
  }
}

@media (max-width: 560px) {
  .skreen .skreen_container .skreen_image .div_2 {
    display: none;
  }
}

.skreen .skreen_container .skreen_image .div_2 a {
  display: inline-block;
}

.skreen .skreen_container .skreen_image .div_2 .play_store {
  margin-left: 14px;
}

.new_school {
  max-width: 1920px;
  background-color: #495568;
}

@media (max-width: 1123px) {
  .new_school {
    padding: 0 15px;
  }
}

.new_school .new_school_container {
  max-width: 1260px;
  margin: auto;
}

.new_school .new_school_container .the_new_margin {
  padding-top: 73px;
  padding-bottom: 69px;
}

@media (max-width: 769px) {
  .new_school .new_school_container .the_new_margin {
    padding: 15px 0;
  }
}

.new_school .new_school_container .para {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #ECE8DE;
}

.new_school .new_school_container .white {
  color: #ffffff;
}

.new_school .new_school_container .span_color_bold {
  color: #ffffff;
}

/* section -3 */
.vidio_container {
  max-width: 1200px;
  margin: 135px auto;
}

@media (max-width: 1210px) {
  .vidio_container {
    margin: 25px auto;
    padding: 0 15px;
  }
}

.vidio_container .vidio_play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.vidio_container .vidio_play img {
  width: 100%;
}

.vidio_container .vidio {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 105px;
  height: 105px;
  display: inline-block;
}

.three_image {
  max-width: 1340px;
  margin: auto;
  padding: 136px 0;
}

@media (max-width: 1123px) {
  .three_image {
    padding: 100px 15px;
  }
}

@media (max-width: 767px) {
  .three_image {
    padding: 20px 15px;
  }
}

.three_image .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1123px) {
  .three_image .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.three_image .flex .image_1 {
  width: calc(33% - 47px);
}

@media (max-width: 1340px) {
  .three_image .flex .image_1 {
    width: calc(34% - 99px);
  }
}

@media (max-width: 1190px) {
  .three_image .flex .image_1 {
    width: calc(31% - 20px);
  }
}

@media (max-width: 1110px) {
  .three_image .flex .image_1 {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .three_image .flex .image_1 {
    width: 100%;
  }
}

.three_image .flex .image_1 .one_image_text {
  text-align: center;
  text-transform: capitalize;
}

.three_image .flex .image_1 .inner_image .after {
  position: relative;
}

.three_image .flex .image_1 .inner_image .after::after {
  position: absolute;
  content: "";
  width: 123px;
  height: 8px;
  left: 0px;
  right: 0px;
  bottom: -24px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #576D8F;
}

.three_image .flex .image_1 .inner_image .heading_margin {
  margin-top: 51px;
  margin-bottom: 93px;
}

@media (max-width: 767px) {
  .three_image .flex .image_1 .inner_image .heading_margin {
    margin: 30px;
  }
}

.three_image .flex .image_1 .inner_image #para_before {
  position: relative;
}

.three_image .flex .image_1 .inner_image #para_before::before {
  position: absolute;
  background-image: url("../image/quote_1.png");
  content: "";
  width: 84px;
  height: 134px;
  left: -39px;
  top: 4px;
}

@media (max-width: 767px) {
  .three_image .flex .image_1 .inner_image #para_before::before {
    display: none;
  }
}

.three_image .flex .image_1 .inner_image #para_after {
  position: relative;
}

.three_image .flex .image_1 .inner_image #para_after::after {
  position: absolute;
  content: "";
  background-image: url("../image/quote_2.png");
  width: 84px;
  height: 134px;
  top: 42px;
  right: 2px;
}

@media (max-width: 767px) {
  .three_image .flex .image_1 .inner_image #para_after::after {
    display: none;
  }
}

.three_image .margin {
  margin: 100px 0;
}

@media (max-width: 1123px) {
  .three_image .margin {
    margin: 20px 0;
  }
}

.employee_outer {
  background-color: #6D7980;
  background-image: url("../image/Vector_7.png");
  padding-top: 120px;
  padding-bottom: 77px;
  background-repeat: no-repeat;
  background-position: right;
}

@media (max-width: 767px) {
  .employee_outer {
    padding: 15px 0;
  }
}

.employee_outer .emloyee_container {
  max-width: 1404px;
  margin: auto;
}

@media (max-width: 1420px) {
  .employee_outer .emloyee_container {
    padding: 0 15px;
  }
}

.employee_outer .emloyee_container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 816px) {
  .employee_outer .emloyee_container .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1420px) {
  .employee_outer .emloyee_container .flex .left {
    width: 50%;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .employee_outer .emloyee_container .flex .left {
    margin-right: 0px;
  }
}

@media (max-width: 980px) {
  .employee_outer .emloyee_container .flex .left {
    width: 100%;
  }
}

.employee_outer .emloyee_container .flex .left img {
  max-width: 100%;
}

.employee_outer .emloyee_container .flex .right {
  max-width: 513px;
}

@media (max-width: 980px) {
  .employee_outer .emloyee_container .flex .right {
    width: 100%;
  }
}

@media (max-width: 816px) {
  .employee_outer .emloyee_container .flex .right {
    max-width: inherit;
  }
}

.employee_outer .emloyee_container .flex .right .margin_bottom {
  margin-bottom: 37px;
}

@media (max-width: 1123px) {
  .employee_outer .emloyee_container .flex .right .margin_bottom {
    margin-bottom: 10px;
  }
}

.employee_outer .emloyee_container .flex .right .margin_bottom .employee {
  border-bottom: 1px solid  #ffffff;
  padding-bottom: 18px;
}

.employee_outer .emloyee_container .flex .right #spacific_width {
  max-width: 413px;
  margin-left: auto;
}

@media (max-width: 1123px) {
  .employee_outer .emloyee_container .flex .right #spacific_width {
    max-width: inherit;
    margin-left: 0px;
  }
}

.employee_outer .emloyee_container .flex #spacific_margin {
  margin-top: 10px;
}

.employee_outer .emloyee_container .flex .margin_210 {
  margin-top: 160px;
}

@media (max-width: 1200px) {
  .employee_outer .emloyee_container .flex .margin_210 {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .employee_outer .emloyee_container .flex .margin_210 {
    margin-top: 50px;
  }
}

@media (max-width: 630px) {
  .employee_outer .emloyee_container .flex .margin_210 {
    margin-top: 10px;
  }
}

/* footer */
.footer {
  max-width: 1404px;
  margin: auto;
}

@media (max-width: 720px) {
  .footer {
    padding: 0 15px;
  }
}

.footer .flex_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer .flex_3 {
    display: block;
    text-align: center;
  }
}

.footer .margin_left {
  margin-left: 9px;
}

@media (max-width: 510px) {
  .footer .margin_left {
    margin-left: 0px;
  }
}

.footer .mr-25 {
  margin-right: 25px;
}

.footer .margin-top-20 {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */